.footer{
    padding:1rem 0;
    position: fixed;
    bottom:0;
    right:1.75rem;
}
.footer nav ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:.65rem;
}
.footer nav ul li{
    color: var(--accent-blue-50);
    list-style: none;
    transform: scale(135%);
    cursor:pointer;
}